footer
    background-color: $blue
    position: relative
    float: left
    height: auto
    width: 100%
    text-align: center
    ul
        position: relative
        float: left
        width: 100%
        li
            border-left: 1px solid #4dbbe9
            position: relative
            float: left
            padding: 7% 0
            width: 20%
            &:last-child
                border-right: 1px solid #4dbbe9
            @media screen and(max-width: 768px)
                width: 50%
                &:nth-child(odd)
                    border-left: none
                &:last-child
                    border-top: 1px solid #4dbbe9
                    border-right: none
                    border-left: none
                    width: 100%
            .count
                h3
                    font-family: $rubik
                    font-weight: $rubikbw
                    font-size: 58px
                    color: $white
                    margin: 0
                p
                    color: $white
                    margin: 0
                    font-family: $roboto
                    font-weight: $robotow
                    font-size: 14px
                    text-transform: uppercase
                    opacity: 0.7
