header
    position: absolute
    height: auto
    width: 100%
    padding: 20px 0
    z-index: 9999
    .left-column
        @media screen and(max-width: 576px)
            padding-left: 15px
        .logo
            a
                color: $white
                font-family: $rubik
                font-weight: $rubikrw
                font-size: 18px
                opacity: 0.8
    .right-column
        @media screen and(max-width: 576px)
            padding-right: 15px
        .menu
            nav
                ul
                    @media screen and(max-width: 992px)
                            text-align: right
                    li
                        display: inline-block
                        padding: 0 20px
                        @media screen and(max-width: 1200px)
                            padding: 0 3%
                        a
                            display: block
                            color: $white
                            font-family: $roboto
                            font-weight: $robotow
                            font-size: 10px
                            text-transform: uppercase
                            position: relative
                            opacity: 0.8
                            padding-bottom: 6px
                            letter-spacing: 2px
                            &.active,&:hover
                                border-bottom: 1px solid $white
                                text-decoration: none
                                opacity: 1
                            @media screen and(max-width: 992px)
                                display: none
                                &.s-cart,&.search-box,&.hamburger
                                    display: block
                        .search-box-content
                            display: none
                            position: absolute
                            left: 0
                            top: 45px
                            width: 95%
                            input[type=text]
                                color: $white
                                font-family: $roboto
                                font-weight: $robotow
                                font-size: 18px
                                text-transform: uppercase
                                background: transparent
                                border: none
                                border-bottom: 1px solid $white
                                width: 100%
                                &::placeholder
                                    color: $white
                        .hamburger
                            display: none
            &.desktop
                display: block
    .menu.mobile
        display: none
        background: $blue
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0.9
        nav
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            width: 100%
            ul
                li
                    display: block
                    text-align: center
                    padding: 1% 0
                    a
                        color: $white
                        font-family: $roboto
                        font-weight: $robotow
                        font-size: 20px
                        text-transform: uppercase
                        border-bottom: 1px solid #4dbbe9
                        padding-bottom: 10px
                        &:hover,&.active
                            font-size: 30px
                            border-bottom: 1px solid $white
        .clouse-menu
            position: absolute
            top: 4%
            right: 1%
            img
                width: 50%
