body
    background-color: $white
ul
    padding: 0
    margin: 0
    list-style: none
a
    &:hover
        text-decoration: none
.no-padding
    padding: 0
img
    width: 100%
.main-banner
    position: relative
    float: left
    height: auto
    width: 100%
    background: url(../../web/image/main-banner.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    .blue-mask
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        background-color: $blue
        opacity: 0.9
        z-index: 1111
    .info
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        z-index: 8888
        text-align: center
        width: 100%
        .small-text
            color: $white
            font-family: $roboto
            font-size: 18px
            font-weight: $robotow
            text-transform: uppercase
            letter-spacing: 4px
        h1
            color: $white
            font-family: $rubik
            font-size: 6em
            font-weight: $rubikbw
            text-transform: uppercase
            line-height: 84px
            padding: 4% 0
            @media screen and(max-width: 768px)
                font-size: 5em
                line-height: 75px
            @media screen and(max-width: 576px)
                font-size: 4em
            @media screen and(max-width: 480px)
                font-size: 4em
                line-height: 65px
        .banner-cta
            color: $white
            display: inline-block
            font-family: $roboto
            font-size: 18px
            font-weight: $robotow
            text-transform: uppercase
            letter-spacing: 4px
            border: 2px solid $white
            padding: 12px 50px
            &:hover
                background-color: $blue
                transition: background-color 2s ease-out
.intro
    position: relative
    float: left
    text-align: center
    padding: 5% 0
    width: 100%
    .text
        h2
            color: $black
            font-family: $rubik
            font-weight: $rubikbw
            font-size: 34px
            text-transform: uppercase
            padding: 14px 0 24px 0
            margin: 0
        p
            font-family: $roboto
            font-weight: $robotow
            color: #999999
            font-size: 12px
            margin: 0
            &.bold-regular
                color: $black
                text-transform: uppercase
                font-size: 18px
                letter-spacing: 5px
    .photos
        position: relative
        float: left
        padding-top: 8%
        width: 100%
        .text-icon
            display: none
            background-color: $blue
            opacity: 0.8
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%,-50%)
            .icon-text-container
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%,-50%)
            p
                color: $white
                font-family: $rubik
                font-weight: $rubikbw
                font-size: 14px
                text-transform: uppercase
            img
                width: auto
        .photo-content
            @media screen and(max-width: 767px)
                margin-bottom: 6%
            &:hover
                .text-icon
                    cursor: pointer
                    display: block